.navbar {
    margin-bottom: 5px;
    border-radius: 25px;
}
footer {
    background-color: #c7c7c7;
    padding: 7px;
}
.overview {
    background-color: gray;
}
.hhand {
    display: flex;
    justify-content: center;
}
.main {
    display: flex;
    justify-content: space-evenly;
}

.grow {
    transition: all .2s ease-in-out;
}
.grow:hover {
    transform: scale(1.1);
    position: relative;
    margin-top: -20px;
    min-height: 10px;
}
#msg {
    font-size: 32px;
    color: lightgrey;
    width: 60%;
}
.fontt {
    font-family: courier-new, monospace;
}
.humanabsolute {
    position: absolute;
    transform: rotate(90deg);
    width: 45%;
}
.pcabsolute {
    position: absolute;
    width: 45%;
    transform: rotate(270deg);
}
#handcontainer {
    border-radius: 30px;
    background-color: black;
}
#maintext {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    font-family: courier-new, monospace;
    color: lightgrey;
}

#tobottom {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 50px;
}

#footertext {
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
